#wrapper{
    width: 1150px;
    height:auto;
}
#pokemon{
    display: inline-block;
    width: 750px;
    height:auto;
    border: 2px solid black;
}
#pokedex{
    display:inline-block;
    position:fixed;
    width: 250px;
    height:500px;
    border: 10px solid black;
    vertical-align: top;
    padding-left: 20px;
}
