<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Animal</title>
    </head>
    <body>
        <form class="" action="/animal/<%= animal.id %>" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" value="">
            <label for="color">Color:</label>
            <input type="text" name="color" value="">
            <input type="submit" name="" value="Add Animal">
        </form>
    </body>
</html>
