<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show Animal</title>
    </head>
    <body>
        <div class="">
            <h4><%= animal.name  %></h4>
            <p><%= animal.color %></p>
        </div>
        <form class="" action="animal/delete/<%= animal.id %>" method="post">

        </form>
    </body>
</html>
