h2 {
    margin: 5px;
    color: #eee;
}

p{
    display: inline-block;
    color: #eee;
}
.messageDiv {
    margin-left: 2vw;
    padding: 4px;
}

.messages{
    padding: 2%;
    margin: 2%;
    background-color: #222;
    border-radius: 3px;
}

.comments{
    padding: 2%;
    margin: 2%;
    background-color: #4aa;
    border-radius: 3px;
    margin-left: 4vw;
}

.navdiv{
    margin: 1%;
}

.container{
    margin-top: 70px;
    margin-left: 40px;
    padding: 2%;
}
