<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Survey Form</title>
</head>
<body>
	<h2>Submitted Information</h2>
	<ul>
		<li>Name: <%= results.name %></li>
		<li>Dojo Location: <%= results.location %></li>
		<li>Favorite Language: <%= results.language %></li>
		<li>Comment: <%= results.comment %></li>
	</ul>
	<a href="/">Back</a>
</body>
</html>
